<div class="wavy-wraper">
  <div class="wavy">
    <span style="--i:1;">p</span>
    <span style="--i:2;">i</span>
    <span style="--i:3;">t</span>
    <span style="--i:4;">n</span>
    <span style="--i:5;">i</span>
    <span style="--i:6;">k</span>
    <span style="--i:7;">.</span>
    <span style="--i:8;">.</span>
    <span style="--i:9;">.</span>
  </div>
</div>
<div class="theme-layout">

  <div class="postoverlay"></div>

  <div class="responsive-header">
    <div class="mh-head first Sticky">
      <span class="mh-btns-left">
        <a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
      </span>
      <span class="mh-text">
        <a href="newsfeed.html" title=""><img src="./assets/images/logo2.png" alt=""></a>
      </span>
      <span class="mh-btns-right">
        <a class="fa fa-sliders" href="#shoppingbag"></a>
      </span>
    </div>
    <div class="mh-head second">
      <form class="mh-form">
        <input placeholder="search" />
        <a href="#/" class="fa fa-search"></a>
      </form>
    </div>
    

  </div><!-- responsive header -->

  <div class="topbar stick">
    <div class="logo">
      <a title="" [routerLink]="['/']"><img src="./assets/images/logo.png" alt=""></a>
    </div>
    <div class="top-area">
      <div class="top-search">
        <form method="post" class="">
          <input [(ngModel)] = "keyword" name="keyword" type="text" placeholder="Nhập từ khoá...">
          <button (click)="Search()" data-ripple><i class="ti-search"></i></button>
        </form>
      </div>
      <div class="page-name">
        <span>Newsfeed</span>
      </div>
      <ul class="setting-area">
        <li><a href="newsfeed.html" title="Home" data-ripple=""><i class="fa fa-home"></i></a></li>
        <li>
          <a href="#" title="Friend Requests" data-ripple="">
            <i class="fa fa-user"></i><em class="bg-red">5</em>
          </a>
          <div class="dropdowns">
            <span>5 New Requests <a href="#" title="">View all Requests</a></span>
            <ul class="drops-menu">
              <li *ngFor="let x of FriendPending.items">
                <div>
                  <figure>
                    <img class="image" style="max-height: 30px; width: 100%;" src="https://localhost:7261/Users/{{x.senderImage}}" alt="">
                  </figure>
                  <div class="mesg-meta">
                    <h6><a href="#" title="">{{x.senderName}}</a></h6>
                    <span><b>Amy</b> is mutule friend</span>
                    <i>yesterday</i>
                  </div>
                  <div class="add-del-friends">
                    <a (click)="UpdateFriendStatus(x.id,1)" title=""><i class="fa fa-heart"></i></a>
                    <a (click)="UpdateFriendStatus(x.id,2)" href="#" title=""><i class="fa fa-trash"></i></a>
                  </div>
                </div>
              </li>
              
            </ul>
            <a href="friend-requests.html" title="" class="more-mesg">View All</a>
          </div>
        </li>
        <li>
          <a href="#" title="Notification" data-ripple="">
            <i class="fa fa-bell"></i><em class="bg-purple">{{UnreadNotificationCount()}}</em>
          </a>
          <div class="dropdowns">
            <span>4 New Notifications <a href="#" title="">Mark all as read</a></span>
            <ul class="drops-menu">
              <li *ngFor=" let no of Notifications.items">
                <a (click)="UpdateReadStatusNotification(no.id, true)" title="">
                  <figure>
                    <img style="width: 45px; height: 45px;" src="https://localhost:7261/Users/{{no.sender.image}}" alt="">
                    <span class="status f-online"></span>
                  </figure>
                  <div class="mesg-meta">
                    <h6>{{no.sender.name}}</h6>
                    <span [ngClass]="{'bold': no.isSeen == false}" >{{no.content}}</span>
                    <i>{{no.created}}</i>
                  </div>
                </a>
              </li>
           
            </ul>
            <a  title="" class="more-mesg">View All</a>
          </div>
        </li>
        <li>
          <a href="#" title="Messages" data-ripple=""><i class="fa fa-commenting"></i><em class="bg-blue">9</em></a>
          <div class="dropdowns">
            <span>5 New Messages <a href="#" title="">Mark all as read</a></span>
            <ul class="drops-menu">
              <li *ngFor="let cvt of Conversations.items">
                <a (click)="LoadMessageConverstion(cvt.id)" class="show-mesg" href="#" title="">
                  <figure>
                    <img style="width: 45px; height: 45px;" src="https://localhost:7261/Users/{{cvt.user1.isCurrentUser ? cvt.user2.image : cvt.user1.image}}" alt="">
                    <span class="status f-online"></span>
                  </figure>
                  <div class="mesg-meta">
                    <h6>{{ cvt.user1.isCurrentUser ? cvt.user2.name : cvt.user1.name }}</h6>
                    <span [ngClass]="{'bold': cvt.isSeen == false}"> {{cvt.message}}</span>
                    <i>{{cvt.timeMessage}}</i>
                  </div>
                </a>
              </li>
            
            </ul>
            <a href="chat-messenger.html" title="" class="more-mesg">View All</a>
          </div>
        </li>
        <li><a href="#" title="Languages" data-ripple=""><i class="fa fa-globe"></i><em>EN</em></a>
          <div class="dropdowns languages">
            <div data-gutter="10" class="row">
              <div class="col-md-3">
                <ul class="dropdown-meganav-select-list-lang">
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text"
                        src="./assets/images/flags/UK.png">English(UK)
                    </a>
                  </li>
                  <li class="active">
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text"
                        src="./assets/images/flags/US.png">English(US)
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/DE.png">Deutsch
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text"
                        src="./assets/images/flags/NED.png">Nederlands
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/FR.png">Français
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/SP.png">Español
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/ARG.png">Español
                      (AR)
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/IT.png">Italiano
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/PT.png">Português
                      (PT)
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/BR.png">Português
                      (BR)
                    </a>
                  </li>

                </ul>
              </div>
              <div class="col-md-3">
                <ul class="dropdown-meganav-select-list-lang">
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/FIN.png">Suomi
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/SW.png">Svenska
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/DEN.png">Dansk
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/CZ.png">Čeština
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/HUN.png">Magyar
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/ROM.png">Română
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/JP.png">日本語
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/CN.png">简体中文
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/PL.png">Polski
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/GR.png">Ελληνικά
                    </a>
                  </li>

                </ul>
              </div>
              <div class="col-md-3">
                <ul class="dropdown-meganav-select-list-lang">
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/TUR.png">Türkçe
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text"
                        src="./assets/images/flags/BUL.png">Български
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/ARB.png">العربية
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/KOR.png">한국어
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/ISR.png">עברית
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/LAT.png">Latviski
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text"
                        src="./assets/images/flags/UKR.png">Українська
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/IND.png">Bahasa
                      Indonesia
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/MAL.png">Bahasa
                      Malaysia
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/TAI.png">ภาษาไทย
                    </a>
                  </li>

                </ul>
              </div>
              <div class="col-md-3">
                <ul class="dropdown-meganav-select-list-lang">
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/CRO.png">Hrvatski
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/LIT.png">Lietuvių
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text"
                        src="./assets/images/flags/SLO.png">Slovenčina
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/SERB.png">Srpski
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text"
                        src="./assets/images/flags/SLOVE.png">Slovenščina
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/NAM.png">Tiếng
                      Việt
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/PHI.png">Filipino
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/ICE.png">Íslenska
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/EST.png">Eesti
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Image Title" alt="Image Alternative text" src="./assets/images/flags/RU.png">Русский
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href="#" title="Help" data-ripple=""><i class="fa fa-question-circle"></i></a>
          <div class="dropdowns helps">
            <span>Quick Help</span>
            <form method="post">
              <input type="text" placeholder="How can we help you?">
            </form>
            <span>Help with this page</span>
            <ul class="help-drop">
              <li><a href="forum.html" title=""><i class="fa fa-book"></i>Community & Forum</a></li>
              <li><a href="faq.html" title=""><i class="fa fa-question-circle-o"></i>FAQs</a></li>
              <li><a href="career.html" title=""><i class="fa fa-building-o"></i>Carrers</a></li>
              <li><a href="privacy.html" title=""><i class="fa fa-pencil-square-o"></i>Terms & Policy</a></li>
              <li><a href="#" title=""><i class="fa fa-map-marker"></i>Contact</a></li>
              <li><a href="#" title=""><i class="fa fa-exclamation-triangle"></i>Report a Problem</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="user-img">
        <h5>{{user.name}}</h5>
        <img style="width: 45px; height: 45px;" src="https://localhost:7261/Users/{{user.image}}" alt="">
        <span class="status f-online"></span>
        <div class="user-setting">
          <span class="seting-title">Chat setting <a href="#" title="">see all</a></span>
          <ul class="chat-setting">
            <li><a href="#" title=""><span class="status f-online"></span>online</a></li>
            <li><a href="#" title=""><span class="status f-away"></span>away</a></li>
            <li><a href="#" title=""><span class="status f-off"></span>offline</a></li>
          </ul>
          <span class="seting-title">User setting <a href="#" title="">see all</a></span>
          <ul class="log-out">
            <li><a href="about.html" title=""><i class="ti-user"></i> view profile</a></li>
            <li><a href="setting.html" title=""><i class="ti-pencil-alt"></i>edit profile</a></li>
            <li><a href="#" title=""><i class="ti-target"></i>activity log</a></li>
            <li><a [routerLink]="['/setting']" title=""><i class="ti-settings"></i>account setting</a></li>
            <li (click)="logOut()"><a  title=""><i class="ti-power-off"></i>log out</a></li>
          </ul>
        </div>
      </div>
      <span class="ti-settings main-menu" data-ripple=""></span>
    </div>
   
  </div>
  <div [ngClass]="{'hidden': isHidden}" class="chat-box show fixed-corner">
    <div class="chat-head">
      <span class="status f-online"></span>
      <h6>Bucky Barnes</h6>
      <div class="more">
        <div class="more-optns"><i class="ti-more-alt"></i>
          <ul>
            <li>block chat</li>
            <li>unblock chat</li>
            <li>conversation</li>
          </ul>
        </div>
        <span class="close-mesage"><i class="ti-close"></i></span>
      </div>
    </div>
    <div class="chat-list">
      <ul class="ps-container ps-theme-default ps-active-y" data-ps-id="3a17b8ac-7e73-8eb3-71a9-de987f2b6825">
        <li *ngFor="let x of Messages.items" [ngClass]="{'me':x.isSentByCurrentUser, 'you':!x.isSentByCurrentUser}">
          <div class="chat-thumb"><img src="https://localhost:7261/Users/{{x.sender.image}}" alt=""></div>
          <div class="notification-event">
            <span class="chat-message-item">
              {{x.content}}
            </span>
            <span class="notification-date"><time class="entry-date updated">{{x.created}}</time></span>
          </div>
        </li>
      <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: -106px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 106px; height: 290px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 78px; height: 212px;"></div></div></ul>
      <form class="text-box">
        <textarea placeholder="Post enter to post..."></textarea>
        <div class="add-smiles">
          <span title="add icon" class="em em-expressionless"></span>
          <div class="smiles-bunch">
            <i class="em em---1"></i>
            <i class="em em-smiley"></i>
            <i class="em em-anguished"></i>
            <i class="em em-laughing"></i>
            <i class="em em-angry"></i>
            <i class="em em-astonished"></i>
            <i class="em em-blush"></i>
            <i class="em em-disappointed"></i>
            <i class="em em-worried"></i>
            <i class="em em-kissing_heart"></i>
            <i class="em em-rage"></i>
            <i class="em em-stuck_out_tongue"></i>
          </div>
        </div>

        <button type="submit"></button>
      </form>
    </div>
  </div>
  
</div>