<div class="user-profile">
    <figure>
        <div class="edit-pp">
            <label class="fileContainer">
                <i class="fa fa-camera"></i>
                <input type="file">
            </label>
        </div>
        <img src="./assets/images/resources/profile-image.jpg" alt="">
        <ul class="profile-controls">
            <li *ngIf="isCurrentUser == false" ><a (click)="CreateFriendShip()"  title="Add friend" data-toggle="tooltip"><i
                        class="fa fa-user-plus"></i></a></li>
        </ul>
        <ol class="pit-rate">
            <li class="rated"><i class="fa fa-star"></i></li>
            <li class="rated"><i class="fa fa-star"></i></li>
            <li class="rated"><i class="fa fa-star"></i></li>
            <li class="rated"><i class="fa fa-star"></i></li>
            <li class=""><i class="fa fa-star"></i></li>
            <li><span>4.7/5</span></li>
        </ol>
    </figure>

    <div class="profile-section">
        <div class="row">
            <div class="col-lg-2 col-md-3">
                <div class="profile-author">
                    <div class="profile-author-thumb">
                        <img  style="height: 151px; width: 151px;" alt="author" src="{{userImageUrl}}/{{userImage}}">
                      
                        <div class="edit-dp">
                            <label class="fileContainer">
                                <i class="fa fa-camera"></i>
                                <input type="file">
                            </label>
                        </div>
                    </div>

                    <div class="author-content">
                        <a class="h4 author-name" >{{nameUser}}</a>
                        <div class="country">{{addressUser}}</div>
                    </div>
                </div>
            </div>
            <div  class="col-lg-10 col-md-9">
                <ul style="margin-left: 10%;" class="profile-menu">
                    <li  >
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/Post']" [queryParams]="{id:userId}">Bài viết</a>
                    </li>
                    <li  >
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/about']" [queryParams]="{id:userId}">Bản thân</a>
                    </li>
                    <li>
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/friends']" [queryParams]="{id:userId}">Bạn bè</a>
                    </li>
                    <li>
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/images']" [queryParams]="{id:userId}">Ảnh</a>
                    </li>
                    
                    
                </ul>
                
                
                <ol class="folw-detail">
                    <li><span>Posts</span><ins>101</ins></li>
                    <li><span>Followers</span><ins>1.3K</ins></li>
                    <li><span>Following</span><ins>22</ins></li>
                </ol>
            </div>
        </div>
    </div>
</div>