<section>
    <div class="gap2 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                        <app-group-profile></app-group-profile>
                        <div style="height: 100vh; overflow: auto; scrollbar-width: none;" class="col-lg-3">
                            <app-sidebar-left></app-sidebar-left>
                        </div><!-- sidebar -->
                        <div style="height: 100vh; overflow: auto; scrollbar-width: none;" class="col-lg-6">
                            <div class="central-meta postbox">
                                <span class="create-post">Create post</span>
                                <div class="new-postbox">
                                    <figure>
                                        
                                            <img *ngIf="displayImageUser != ''" 
                                            [src]="displayImageUser ? 'https://localhost:7261/Users/' + displayImageUser : './assets/images/userDefault.png'" 
                                            style="width: 45px; height: 45px;" 
                                            alt="">
                                    </figure>
                                    <div class="newpst-input">
                                        <div>
                                            <textarea rows="2" placeholder="Share some what you are thinking?"
                                                [(ngModel)]="CreatePost.content" name="messageContent"></textarea>
                                            <div *ngIf="imageSrcs.length > 0" style="margin-top: 10px">
                                                <img *ngFor="let imageSrc of imageSrcs" [src]="imageSrc"
                                                    style="max-width: 100%; margin-top: 10px; margin-right: 10px;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="attachments">
                                        <ul>
                                            <li>
                                                <span class="add-loc">
                                                    <i class="fa fa-map-marker"></i>
                                                </span>
                                            </li>
                                            <li>
                                                <i class="fa fa-music"></i>
                                                <label class="fileContainer">
                                                    <input type="file" (change)="onFilesSelected($event)" multiple />
                                                </label>
                                            </li>
                                            <li>
                                                <i class="fa fa-image"></i>
                                                <label class="fileContainer">
                                                    <input type="file" (change)="onFilesSelected($event)" multiple>
                                                </label>
                                            </li>
                                            <li>
                                                <i class="fa fa-video-camera"></i>
                                                <label class="fileContainer">
                                                    <input type="file" (change)="onFilesSelected($event)" multiple>
                                                </label>
                                            </li>
                                            <li>
                                                <i class="fa fa-camera"></i>
                                                <label class="fileContainer">
                                                    <input type="file" (change)="onFilesSelected($event)" multiple>
                                                </label>
                                            </li>

                                        </ul>
                                        <button class="post-btn" type="button" (click)="AddPost()"
                                            data-ripple="">Post</button>
                                    </div>
                                    <div class="add-location-post">

                                        <!-- map -->
                                        <div id="us3"></div>
                                    </div>
                                </div>

                            </div><!-- add post new box -->
                          

                            <div class="loadMore">
                                <div *ngFor="let post of Posts.items" class="central-meta item">
                                    <div class="user-post">
                                        <div class="friend-info">
                                            <figure>
                                                <img src="https://localhost:7261/Users/{{post.imageUser}}" alt="">
                                            </figure>
                                            <div [routerLink]="['/about']" [queryParams]="{id:post.userId}"
                                                class="friend-name">
                                                <div class="more">
                                                    <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                        <ul>
                                                            <li><i class="fa fa-pencil-square-o"></i>Edit Post</li>
                                                            <li><i class="fa fa-trash-o"></i>Delete Post</li>
                                                            <li class="bad-report"><i class="fa fa-flag"></i>Report Post
                                                            </li>
                                                            <li><i class="fa fa-address-card-o"></i>Boost This Post</li>
                                                            <li><i class="fa fa-clock-o"></i>Schedule Post</li>
                                                            <li><i class="fa fa-wpexplorer"></i>Select as featured</li>
                                                            <li><i class="fa fa-bell-slash-o"></i>Turn off Notifications
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <ins><a title="">{{post.nameUser}}</a> Post Album</ins>
                                                <span><i class="fa fa-globe"></i> published: {{post.created}} </span>
                                            </div>
                                            <div class="post-meta">
                                                <p>
                                                    {{post.content}}
                                                </p>
                                                <figure>
                                                    <div class="img-bunch">
                                                        <div class="row">
                                                            <!-- <div class="col-lg-6 col-md-6 col-sm-6"> -->
                                                            <div style="display: flex; width: 100%;">
                                                                <figure *ngFor=" let x of post.image">
                                                                    <a href="#" title="" data-toggle="modal"
                                                                        data-target="#img-comt">
                                                                        <img src="https://localhost:7261/Uploads/{{x}}"
                                                                            alt="">
                                                                    </a>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ul class="like-dislike">
                                                        <li><a class="bg-purple" href="#" title="Save to Pin Post"><i
                                                                    class="fa fa-thumb-tack"></i></a></li>
                                                        <li><a class="bg-blue" href="#" title="Like Post"><i
                                                                    class="ti-thumb-up"></i></a></li>
                                                        <li><a class="bg-red" href="#" title="dislike Post"><i
                                                                    class="ti-thumb-down"></i></a></li>
                                                    </ul>
                                                </figure>
                                                <div class="we-video-info">
                                                    <ul style="width: 100%;" >
                                                        <li  (click)="React(post.id, 3)">
                                                            <span [class.isReact]="post.isReact" class="views" title="views">
                                                                <i [class.isReact]="post.isReact"
                                                                    class="fa fa-thumbs-up"></i>
                                                                <ins>{{post.totalReactions}}</ins>
                                                                Thích
                                                            </span>
                                                        </li>
                                                        <li style="padding-left: 23%;"
                                                            (click)="LoadPostDetail(post.id)">
                                                            <span class="comment" title="Comments">
                                                                <i class="fa fa-commenting"></i>
                                                                <ins>{{post.totalComment}}</ins>
                                                                Bình luận
                                                            </span>
                                                        </li>

                                                        <li style="float: right; padding-right: 4%;">
                                                            <span>
                                                                <a class="share-pst" title="Share">
                                                                    <i class="fa fa-share-alt"></i>
                                                                </a>
                                                                <ins>20</ins>
                                                                Chia sẻ
                                                            </span>
                                                        </li>
                                                    </ul>
                                                  
                                                </div>
                                            </div>
                                           
                                        </div>
                                    
                                    </div>
                                </div>
                           
                            </div>
                        </div><!-- centerl meta -->
                        <div style="height: 100vh; overflow: auto; scrollbar-width: none;" class="col-lg-3">
                            <app-sidebar-right></app-sidebar-right>
                        </div><!-- sidebar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div [ngClass]="{'modal fade': true, 'show': showModal}" 
     [ngStyle]="{'display': showModal ? 'block' : 'none'}" 
     id="exampleModal" 
     tabindex="-1" 
     aria-labelledby="exampleModalLabel" 
     aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Bài viết của Đinh Thành Luân
          </h5>
          <i (click)="ClosePostDetail()" style="font-size: 20px;" class="fa fa-close"></i>
      </div>
      <div class="modal-body">
        </div>
        <div class="modal-body">
            <div class="loadMore">
                <div class="central-meta item">
                    <div class="user-post">
                        <div  class="friend-info">
                            <figure>
                                <img src="https://localhost:7261/Users/{{postDetail.imageUser}}" alt="">
                            </figure>
                            <div [routerLink]="['/about']" [queryParams]="{id:postDetail.userId}" class="friend-name">
                                <div class="more">
                                    <div class="more-post-optns"><i class="ti-more-alt"></i>
                                        <ul>
                                            <li><i class="fa fa-pencil-square-o"></i>Edit Post</li>
                                            <li><i class="fa fa-trash-o"></i>Delete Post</li>
                                            <li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
                                        </ul>
                                    </div>
                                </div>
                                <ins><a  title="">{{postDetail.nameUser}}</a> Post Album</ins>
                                <span><i class="fa fa-globe"></i> published: {{postDetail.created}} </span>
                            </div>
                            <div class="post-meta">
                                <p>
                                    {{postDetail.content}}
                                </p>
                                <figure>
                                    <div class="img-bunch">
                                        <div class="row">
                                            <!-- <div class="col-lg-6 col-md-6 col-sm-6"> -->
                                            <div style="display: flex; width: 100%;">
                                                <figure *ngFor=" let x of postDetail.image">
                                                    <a href="#" title="" data-toggle="modal" data-target="#img-comt">
                                                    <img src="https://localhost:7261/Uploads/{{x}}" alt="">
                                                    </a>
                                                </figure> 
                                            </div>
                                        </div>
                                    </div>	
                                    <ul class="like-dislike">
                                        <li><a class="bg-purple" href="#" title="Save to Pin Post"><i class="fa fa-thumb-tack"></i></a></li>
                                        <li><a class="bg-blue" href="#" title="Like Post"><i class="ti-thumb-up"></i></a></li>
                                        <li><a class="bg-red" href="#" title="dislike Post"><i class="ti-thumb-down"></i></a></li>
                                    </ul>
                                </figure>	
                                <div class="we-video-info">
                                    <ul>
                                        <li (click)="React(postDetail.id, 3)">
                                            <span class="views" title="views">
                                                <i [class.isReact]="postDetail.isReact" class="fa fa-thumbs-up"></i>
                                                <ins>{{postDetail.totalReactions}}</ins>
                                            </span>
                                        </li>
                                        <li>
                                            <span  class="comment" title="Comments">
                                                <i class="fa fa-commenting"></i>
                                                <ins>{{postDetail.totalComment}}</ins>
                                            </span>
                                        </li>

                                        <li>
                                            <span>
                                                <a class="share-pst" title="Share">
                                                    <i class="fa fa-share-alt"></i>
                                                </a>
                                                <ins>20</ins>
                                            </span>	
                                        </li>
                                    </ul>  
                                </div>
                            </div>
                            <div style="display: block;" class="coment-area">
                                <ul class="we-comet">
                                    <li *ngFor="let comment of postDetail.comment">
                                        <div class="comet-avatar">
                                            <img src="./assets/images/resources/nearly3.jpg" alt="">
                                        </div>
                                        <div class="we-comment">
                                            <h5><a href="time-line.html" title="">{{comment.nameUser}}</a></h5>
                                            <p>{{comment.content}}</p>
                                            <div class="inline-itms">
                                                <span>{{comment.created}}</span>
                                                <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                                                <a href="#" title=""><i class="fa fa-heart"></i><span>20</span></a>
                                            </div>
                                        </div>

                                    </li>
                                    <li>
                                        <a class="showmore underline" title="" (click)="LoadMoreComment(postDetail.id)">more comments+</a>
                                    </li>
                                    <li class="post-comment">
                                        <div class="comet-avatar">
                                            <img src="./assets/images/resources/nearly1.jpg" alt="">
                                        </div>
                                        <div class="post-comt-box">
                                            <form #commentForm="ngForm" (ngSubmit)="AddComment(postDetail.id)">
                                                <textarea name="content" [(ngModel)]="CreateComment.content" placeholder="Post your comment"></textarea>
                                                <div class="add-smiles">
                                                <div class="uploadimage">
                                                    <i class="fa fa-image"></i>
                                                    <label class="fileContainer">
                                                    <input type="file" />
                                                    </label>
                                                </div>
                                                <span class="em em-expressionless" title="add icon"></span>
                                                <div class="smiles-bunch">
                                                    <i class="em em---1"></i>
                                                    <i class="em em-smiley"></i>
                                                    <i class="em em-anguished"></i>
                                                    <i class="em em-laughing"></i>
                                                    <i class="em em-angry"></i>
                                                    <i class="em em-astonished"></i>
                                                    <i class="em em-blush"></i>
                                                    <i class="em em-disappointed"></i>
                                                    <i class="em em-worried"></i>
                                                    <i class="em em-kissing_heart"></i>
                                                    <i class="em em-rage"></i>
                                                    <i class="em em-stuck_out_tongue"></i>
                                                </div>
                                                </div>
                                                <button type="submit">Post Comment</button>
                                            </form>
                                                
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 style="display: flex; margin-left: auto; justify-content: center;" class="modal-title" id="exampleModalLabel">
                                    Bài viết của Đinh Thành Luân
                                </h5>
                                </div>
                                <div class="modal-body">
                                <div class="form-container">
                                
                                </div>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-primary" >
                                    Save
                                </button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
      </div>
    </div>
</div>