<section>
    <div class="gap2 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="row merged20" id="page-contents">
                        <app-group-profile></app-group-profile>
                        <div class="col-lg-12">
                            <div class="central-meta">
                                <div class="title-block">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="align-left">
                                                <h5>Thành viên <span>{{members.total}}</span></h5>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row merged20">
                                                <div class="col-lg-7 col-md-7 col-sm-7">
                                                    <form method="post">
                                                        <input type="text" placeholder="Search Friend">
                                                        <button type="submit"><i class="fa fa-search"></i></button>
                                                    </form>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4">
                                                    <div class="select-options">
                                                        <select class="select">
                                                            <option>Sort by</option>
                                                            <option>A to Z</option>
                                                            <option>See All</option>
                                                            <option>Newest</option>
                                                            <option>oldest</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-1 col-md-1 col-sm-1">
                                                    <div class="option-list">
                                                        <i class="fa fa-ellipsis-v"></i>
                                                        <ul>
                                                            <li><a title="" href="#">Show Friends Public</a></li>
                                                            <li><a title="" href="#">Show Friends Private</a></li>
                                                            <li><a title="" href="#">Mute Notifications</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- title block -->
                            <div class="row merged20">
                                <div *ngFor="let member of members.items" class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="friend-block">
                                        <div class="more-opotnz">
                                            <i class="fa fa-ellipsis-h"></i>
                                            <ul>
                                                <li><a href="#" title="">Block</a></li>
                                                <li><a href="#" title="">UnBlock</a></li>
                                                <li><a href="#" title="">Mute Notifications</a></li>
                                                <li><a href="#" title="">hide from friend list</a></li>
                                            </ul>
                                        </div>
                                        <figure>
                                            <img *ngIf="member.image; else nullImageConversation;"
                                                style="height: 79px; width: 79px;" alt="author"
                                                src="{{userImageUrl}}/{{member.image}}">
                                            <ng-template #nullImageConversation>
                                                <img style="height: 79px; width: 79px;" alt="author"
                                                    src="./assets/images/userDefault.png">
                                            </ng-template>
                                        </figure>

                                        <div class="frnd-meta">
                                            <div class="frnd-name">
                                                <a href="#" title="">{{member.name}}</a>
                                                <span>{{member.address}}</span>

                                            </div>
                                            <a class="send-mesg" href="#" title="">Message</a> <br />
                                            <a *ngIf="member.isCreate" class="send-mesg" title="">Quản trị viên</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="lodmore">
                                <span>Viewing 1-16 of 99 friends</span>
                                <button class="btn-view btn-load-more"></button>
                            </div>
                        </div><!-- centerl meta -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>