
    <aside class="sidebar static right">
        
        <div class="widget">
            <h4 class="widget-title">Explor Events <a title="" href="#" class="see-all">See All</a></h4>
            <div class="rec-events bg-purple">
                <i class="ti-gift"></i>
                <h6><a href="#" title="">Ocean Motel good night event in columbia</a></h6>
                <img src="./assets/images/clock.png" alt="">
            </div>
            <div class="rec-events bg-blue">
                <i class="ti-microphone"></i>
                <h6><a href="#" title="">2016 The 3rd International Conference</a></h6>
                <img src="./assets/images/clock.png" alt="">
            </div>
        </div><!-- explore events -->
        <div class="widget">
            <h4 class="widget-title">Profile intro</h4>
            <ul class="short-profile">
                <li>
                    <span>about</span>
                    <p>Hi, i am jhon kates, i am 32 years old and worked as a web developer in microsoft </p>
                </li>
                <li>
                    <span>fav tv show</span>
                    <p>Sacred Games, Spartcus Blood, Games of Theron </p>
                </li>
                <li>
                    <span>favourit music</span>
                    <p>Justin Biber, Shakira, Nati Natasah</p>
                </li>
            </ul>
        </div><!-- profile intro widget -->
        <div class="widget stick-widget">
            <h4 class="widget-title">Recent Links <a title="" href="#" class="see-all">See All</a></h4>
            <ul class="recent-links">
                <li>
                    <figure><img src="./assets/images/resources/recentlink-1.jpg" alt=""></figure>
                    <div class="re-links-meta">
                        <h6><a href="#" title="">moira's fade reaches much farther than you think.</a></h6>
                        <span>2 weeks ago </span>
                    </div>
                </li>
                <li>
                    <figure><img src="./assets/images/resources/recentlink-2.jpg" alt=""></figure>
                    <div class="re-links-meta">
                        <h6><a href="#" title="">daniel asks if we want him to do the voice of doomfist</a></h6>
                        <span>3 months ago </span>
                    </div>
                </li>
                <li>
                    <figure><img src="./assets/images/resources/recentlink-3.jpg" alt=""></figure>
                    <div class="re-links-meta">
                        <h6><a href="#" title="">the pitnik overwatch scandals.</a></h6>
                        <span>1 day before</span>
                    </div>
                </li>
            </ul>
        </div><!-- recent links -->
    </aside>
