
    <aside class="sidebar static right">
        
        <div class="widget">
            <h4 class="widget-title">Explor Events <a title="" href="#" class="see-all">See All</a></h4>
            <div class="rec-events bg-purple">
                <i class="ti-gift"></i>
                <h6><a href="#" title="">Ocean Motel good night event in columbia</a></h6>
                <img src="./assets/images/clock.png" alt="">
            </div>
            <div class="rec-events bg-blue">
                <i class="ti-microphone"></i>
                <h6><a href="#" title="">2016 The 3rd International Conference</a></h6>
                <img src="./assets/images/clock.png" alt="">
            </div>
        </div><!-- explore events -->
        <div routerLink="/setting" class="widget">
            <h4 class="widget-title">Giới thiệu bản thân</h4>
            <ul class="short-profile">
                <li>
                    <span>Về bản thân</span>
                    <p *ngIf="GeneralInfo.aboutMe; else nullAbout" >{{GeneralInfo.aboutMe}}</p>
                    <ng-template #nullAbout>
                        <p>Hãy viết gì đó về bản thân của bạn</p>
                    </ng-template>
                </li>
                <li>
                    <span>Sở thích</span>
                    <p *ngIf="GeneralInfo.hobbies; else nullHobbies" >{{GeneralInfo.hobbies}}</p>
                    <ng-template #nullHobbies>
                        <p>Hãy viết gì đó về sở thích của bạn</p>
                    </ng-template>
                </li>
                <li>
                    <span>Kinh nghiệm và làm việc</span>
                    <p *ngIf="GeneralInfo.workAndExperience; else nullExperience" >{{GeneralInfo.workAndExperience}}</p>
                    <ng-template #nullExperience>
                        <p>Hãy viết gì đó về sở thích của bạn</p>
                    </ng-template>
                </li>
            </ul>
        </div><!-- profile intro widget -->
        <div class="widget stick-widget">
            <h4 class="widget-title">Nhóm của bạn</h4>
            <ul class="followers">
                <li *ngFor="let item of groups.items">
                    <figure>
                        <img style="width: 40px; height: 40px;" src="http://pitnik.somee.com/Groups/{{item.background}}" alt="">
                    </figure>
                    <div class="friend-meta">
                        <h4 [routerLink]="['/group']" [queryParams]="{ id: item.id }" style="width: 100%;"><a title="">{{item.name}}</a></h4>
                        
                    </div>
                </li>
               
            </ul>
        </div>
    </aside>
