span.status {
    background: #7FBA00;
    border-radius: 50%;
    bottom: 0;
    display: inline-block;
    height: 10px;
    padding: 2px;
    position: absolute;
    left: 30px;
    width: 10px;
}
.isSeen {
    color: gray;
    font-size:small;
    font-weight: 100;
}

.users-container {
    display: flex;
    flex-direction: column;
}
    .users-container .header {
        height: 50px;
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #eee;
    }
        .users-container .header h5 {
            margin: 0;
            font-weight: 400;
            text-transform: uppercase;
            color: #555;
            font-size: 16px;
        }
    .users-container #users-list .user {
        padding: 10px;
        display: flex;
        align-items: center;
    }
        .users-container #users-list .user img {
            width: 32px;
            height: 32px;
            margin-right: 5px;
        }
        .users-container #users-list .user .right-side {
            width: 100%;
            line-height: 16px;
            overflow: hidden;
        }
            .users-container #users-list .user .right-side span {
                display: block;
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        .users-container #users-list .user:hover {
            background: #f2f2f2;
            cursor: pointer;
        }
    .users-container input {
        width: 100%;
        border: none;
        height: 50px;
        border-radius: 0;
        border-top: 1px solid #eee;
        background: #f2f2f2;
        margin-top: auto;
        text-indent: 10px;
    }

input[type="radio"] {
    display: none;
}
    input[type="radio"] + img {
        border-radius: 50%;
        border: 2px solid transparent;
        padding: 1px;
        cursor: pointer;
    }
    input[type="radio"]:checked + img {
        border-radius: 50%;
        border: 2px solid #5dca38;
        padding: 1px;
    }

.ismine {
    flex-direction: row-reverse;
}

    .ismine .message-content {
        background: #8abde6;
    }

        .ismine .message-content .author,
        .ismine .message-content .timestamp,
        .ismine .message-content .timestamp span,
        .ismine .message-content .content {
            color: white;
        }

        .ismine .message-content div {
            flex-direction: row-reverse;
        }

    .ismine .message-avatar {
        margin-right: 0;
        margin-left: 10px;
    }

.hidden {
    display: none;
  }
.fixed-corner {
    position: fixed;
    bottom: 10px;
    right: 10px;   
    
    border-radius: 5px; /* Bo tròn góc của div */
    z-index: 999;
}
.bold {
    font-weight: bold;
  }
.isDisplay{
    display: block;
}
