
<aside class="sidebar static left">
      
        <div class="widget">
            <h4 class="widget-title">Phím tắt</h4>
            <ul class="naves">
                <li>
                    <i class="ti-clipboard"></i>
                    <a [routerLink]="['/']" title="">Bảng tin</a>
                </li>
               
                <li>
                    <i class="ti-files"></i>
                    <a [routerLink]="['/groups']" title="">Nhóm của tôi</a>
                </li>
                <li>
                    <i class="ti-user"></i>
                    <a [routerLink]="['/friends']" title="">Bạn bè</a>
                </li>
                <li>
                    <i class="ti-image"></i>
                    <a [routerLink]="['/images']" title="">Hình ảnh</a>
                </li>
                <li>
                    <i class="ti-video-camera"></i>
                    <a href="timeline-videos.html" title="">Videos</a>
                </li>
               
               
                <li>
                    <i class="ti-power-off"></i>
                    <a href="landing.html" title="">Logout</a>
                </li>
            </ul>
        </div><!-- Shortcuts -->
        <div class="widget stick-widget">
            <h4 class="widget-title">Người liên hệ</h4>
            <ul class="followers">
                <li *ngFor="let item of friends.items">
                    <figure>
                        <img *ngIf="item.image; else nullImageUser;" style="height: 40px; width: 40px;"
                          alt="author" src="http://pitnik.somee.com/Users/{{item.image}}">
                        <ng-template #nullImageUser>
                          <img style="height: 40px; width: 40px;" alt="author" src="./assets/images/userDefault.png">
                        </ng-template>
                        <span *ngIf="item.isOnline" class="status f-online"></span>
                    </figure>
                    <div class="friend-meta">
                        <h4 (click)="openChatModal(item.userId)" style="width: 100%;"><a title="">{{item.name}}</a></h4>
                        
                    </div>
                </li>
               
            </ul>
        </div><!-- who's following -->
        
        <div class="widget">
            <h4 class="widget-title">Recent Activity</h4>
            <ul class="activitiez">
                <li>
                    <div class="activity-meta">
                        <i>10 hours Ago</i>
                        <span><a href="#" title="">Commented on Video posted </a></span>
                        <h6>by <a href="time-line.html">black demon.</a></h6>
                    </div>
                </li>
                <li>
                    <div class="activity-meta">
                        <i>30 Days Ago</i>
                        <span><a href="#" title="">Posted your status. “Hello guys, how are you?”</a></span>
                    </div>
                </li>
                <li>
                    <div class="activity-meta">
                        <i>2 Years Ago</i>
                        <span><a href="#" title="">Share a video on her timeline.</a></span>
                        <h6>"<a href="#">you are so funny mr.been.</a>"</h6>
                    </div>
                </li>
            </ul>
        </div><!-- recent activites -->
      
</aside>
