<section>
    <div class="gap2 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                        <app-user-profile></app-user-profile>
                        <div class="col-lg-12">
                            <div class="central-meta">
                                <div class="title-block">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="align-left">
                                                <h5>Friends / Followers <span>{{MyFriends.total}}</span></h5>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row merged20">
                                                <div class="col-lg-7 col-lg-7 col-sm-7">
                                                    <form method="post">
                                                        <input type="text" placeholder="Search Friend">
                                                        <button type="submit"><i class="fa fa-search"></i></button>
                                                    </form>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4">
                                                    <div class="select-options">
                                                        <select class="select">
                                                            <option>Sort by</option>
                                                            <option>A to Z</option>
                                                            <option>See All</option>
                                                            <option>Newest</option>
                                                            <option>oldest</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-1 col-md-1 col-sm-1">
                                                    <div class="option-list">
                                                        <i class="fa fa-ellipsis-v"></i>
                                                        <ul>
                                                            <li><a title="" href="#">Show Friends Public</a></li>
                                                            <li><a title="" href="#">Show Friends Private</a></li>
                                                            <li><a title="" href="#">Mute Notifications</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- title block -->
                            <div class="central-meta padding30">
                                <div class="row">
                                    <div *ngFor="let friend of MyFriends.items" class="col-lg-3 col-md-6 col-sm-6">
                                        <div  class="friend-box">
                                            <figure>
                                                <img src="./assets/images/resources/frnd-cover1.jpg" alt="">
                                                <span>Bạn chung:{{friend.mutualFriend}}</span>
                                            </figure>
                                            <div class="frnd-meta">
                                                <img *ngIf="friend.image; else nullUserImage;" style="width: 84px; height: 84px;" alt="author" src="{{userImageUrl}}/{{friend.image}}">
                                                <ng-template #nullUserImage>
                                                    <img style="height: 84px; width: 84px;" alt="author" src="./assets/images/userDefault.png">
                                                </ng-template>

                                                <div class="frnd-name">
                                                    <a [routerLink]="['/about']" [queryParams]="{id:friend.userId}" title="">{{friend.name}}</a>
                                                    <span>{{friend.address}}</span>
                                                </div>
                                                <ul class="frnd-info">
                                                    <li><span>Friends:</span> {{friend.totalFriend}}</li>
                                                    <li><span>Photos:</span> {{friend.totalImage}}</li>
                                                    <li><span>Post:</span> {{friend.totalPost}}</li>
                                                    <li><span>Since:</span> {{friend.created | date:"yyyy-MM-dd"}}</li>
                                                </ul>
                                                <a class="send-mesg" href="#" title="">Message</a>
                                                <div class="more-opotnz">
                                                    <i class="fa fa-ellipsis-h"></i>
                                                    <ul>
                                                        <li><a href="#" title="">Block</a></li>
                                                        <li><a href="#" title="">UnBlock</a></li>
                                                        <li><a href="#" title="">Mute Notifications</a></li>
                                                        <li><a href="#" title="">hide from friend list</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="lodmore">
                                    <span>Viewing 1-8 of 44 friends</span>
                                    <button class="btn-view btn-load-more"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>